<br>
<h1>coucou la fammille</h1>
  <% @restaurants.each do |restaurant| %>
  <ul>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </ul>
<% end %>
<%= link_to 'creer ton restaurant', new_restaurant_path %>
